<!DOCTYPE html>
<html >
<body  align="center" style="background-color:green;">
<head>
  <meta charset="UTF-8">
  <title>Model Deployment</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <style>
      body {
        font-family: 'Tangerine', serif;
        font-size: 28px;
      }
    </style>


</head>

<body>
 <div class="login">
	<h1 style="text-align:center">Product Recommendation </h1>


   <br>
   <br>


 </div>


</body>
</html>